body{background-color: cyan;
}
div{
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 25px;
  float:left;
  font-family: sans-serif;
  background-size: contain;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  line-height: 200px;
  text-indent: 90px;
  color: white;


}

#div1{
background-color:red;
}

#div2{
background-color:green;
}
#div3{
background-color:black;
}
#div4{
background-color:blue;
}
#div5{
background-color:orange;
clear: both;
}
#div6{
background-color:purple;
}
#div7{
background-color:teal;
}
#div8{
background-color:navy;
}
#div9{
background-color:silver;
clear: both;
}
#div10{
background-color:lime;
}
#div11{
background-color:#ffccff;
}
#div12{
background-color:#ccff66;
}
#div13{
background-color:#6633ff;
clear: both;
}
#div14{
background-color:#660033;
}
#div15{
background-color:#669999;
}
#div16{
background-color:#ffcc99;
}
#div17{
background-color:#99cc99;
clear: both;
}
#div18{
background-color:#660000;
}
#div19{
background-color:#bb00bb;
}
#div20{
background-color:yellow;
}
