@media screen and (min-width: 768px) {
  body{
    background-color: cyan;
  }

  #contenedor {
  background-color: pink;
  height: 400px;

  }
  .cuadrados {
    width: 150px;
    height: 150px;
    float: left;
    margin: 27px;

  }

  #cuadrado1{
   background-color: red;

  }
  #cuadrado2{
   background-color: blue;

  }

  #cuadrado3{
   background-color:#BCFF54;

  }
  #cuadrado4{
   background-color:#1FEB79;

  }

  #titol{
    background-color: #11D2EC;
  }
