body {
   background-color: cyan;
 }
 div{
   background-color: white;
   height: 800px;
 }

#imagen1{
   width: 350px;
   margin: 0px 10px 0px 8px;
   float:left;
}
 p{
 text-align: left;
 font-size: 14px;
}
h1{
  text-align: center;
}
